<div class="loader"></div>
<section class="container">

  <div class="row mt-3">
    <div class="container d-flex justify-content-center position-sticky">
      <input class="form-control" type="text" placeholder="Search"/>
  </div>
  </div>

  <!-- render the categories -->

  <div class="row mt-4">
    <div class="col-md-3 mb-3" *ngFor="let item of categories;let i=index" (click)="onSelectProduct(item.id)">
      <div class="card h-100 shadow rounded p-2">  
        <div class="card-body">
          <h1 class="card-title">{{ item.label }}</h1>
        </div>
      </div>
    </div>
  </div>


  <!-- render products -->


    
    <div class="container mt-3">
        <div class="row">
          <div class="col-md-3 mb-3" *ngFor="let item of posts;let i=index" (click)="onSelectProduct(item.id)">
            <div class="card h-100 shadow rounded p-2">
              <img [src]="item.images[0]?.preview" class="card-img-top" alt="{{ item.productName }}">
              
              <div class="card-body">
                <h5 class="card-title">{{ item.productName }}</h5>
                <p class="card-text">{{ item.productDescription }}</p>
              </div>
              <div class="card-footer d-flex">
                <ngb-rating class="star-rating" [(rate)]="item.ratings" [max]="5" [readonly]="true"></ngb-rating>
                
              </div>
            </div>
          </div>
        </div>
      </div>
      
</section>
